body {
    background: url('6186696.jpg') repeat;
}

h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #f44336;
    text-align: center;
    text-transform: uppercase;
}
  
h2 {
    background-color: #333;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}
  
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #666;
}


.cont {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.btn {
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.btn:hover {
    background: #d32f2f;
}

img {
    transition: transform 0.3s ease-in-out;
}
  
img:hover {
    transform: scale(1.1);
}
  
.btn {
    transition: background-color 0.3s ease-in-out;
}
  
.btn:hover {
    background: #d32f2f;
}

